/* Start variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --text-color: #777;
  --border-color: #e6e6e7;
  --section-color: #ECECEC;
  --main-duration: .3s;
  --section-padding: 100px;
}
/* End variables */

/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a.top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 25px;
}
/* Small screens */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
/* Medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */

/* Start components */
.main-heading {
  width: fit-content;
  margin: 0 auto 80px;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #000;
  position: relative;
  transition-duration: var(--main-duration);
  z-index: 1;
  /* transition-property: color, border; */
}
.main-heading:hover {
  color: #fff;
  border-color: transparent;
  transition-delay: .5s;
}
.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}
.main-heading::before {
  left: -30px;
}
.main-heading::after {
  right: -30px;
}
.main-heading:hover::before {
  animation: to-right .5s forwards linear;
}
.main-heading:hover::after {
  animation: to-left .5s forwards linear;
}
@keyframes to-right {
  50% {
    left: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes to-left {
  50% {
    right: 0;
    width: 14px;
    height: 14px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
.spikes {
  position: relative;
}
.spikes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(225deg, white 50%, transparent 50%);
  background-size: 30px 30px;
}
.dots {
  position: absolute;
  background-image: url(../imgs/dots.png);
  width: 204px;
  height: 186px;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (max-width: 767px) {
  .dots {
    display: none;
  }
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End components */

/* Start header */
.header {
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
  }
}
.header .container .logo {
  color: var(--main-color);
  height: 74px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .container .logo {
    height: 50px;
  }
}
.header .container > .main-nav {
  display: flex;
}
.header .container > .main-nav > li > a {
  display: flex;
  color: #000;
  height: 74px;
  font-size: 18px;
  align-items: center;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  transition: var(--main-duration);
}
@media (max-width: 767px) {
  .header .container > .main-nav > li > a {
    height: 50px;
    padding: 10px;
  }
}
.header .container > .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-duration);
}
.header .container > .main-nav > li > a:hover {
  background-color: #f6f6f6;
  color: var(--main-color);
}
.header .container > .main-nav > li > a:hover::before {
  left: 0;
}
.header .container .main-nav li:hover .mega-menu {
  z-index: 2;
  opacity: 1;
  top: calc(100% + 1px);
}
/* Start megamenu */
.header .main-nav .other .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;
  gap: 40px;
  display: flex;
  background-color: #fff;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  padding: 30px;
  opacity: 0;
  transition:
   top var(--main-duration),
   opacity var(--main-duration);
}
@media (max-width: 767px) {
  .header .main-nav .other .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
.header .main-nav .other .mega-menu img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .main-nav .other .mega-menu img {
    display: none;
  }
}
.header .main-nav .other .mega-menu .list {
  min-width: 250px;
  flex: 1;
}
.header .main-nav .other .mega-menu .list li {
  position: relative;
}
.header .main-nav .other .mega-menu .list li:hover::before {
  width: 100%;
}
.header .main-nav .other .mega-menu .list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  transition: var(--main-duration);
  z-index: -1;
}
.header .main-nav .other .mega-menu .list li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .main-nav .other .mega-menu .list:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .main-nav .other .mega-menu .list li a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
}
.header .main-nav .other .mega-menu .list li a i {
  margin-right: 10px;
}
/* End megamenu */
/* End header */

/* Start landing */
.landing {
  position: relative;
}
.landing::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  transform-origin: top left;
  transform: skewY(-7deg);
}
.landing .container {
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 992px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
  line-height: 1.5;
}
.landing .container .text p {
  color: var(--text-color);
  font-size: 25px;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .landing .container .text h1 {
    font-size: 30px;
    letter-spacing: -1px;
  }
  .landing .container .text p {
    font-size: 20px;
  }
}
.landing .container img {
  width: 600px;
  max-width: 100%;
  animation-name: up-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-delay: 0;
  animation-play-state: running;
  /* animation-fill-mode: forwards; */
}
@media (max-width: 992px) {
  .landing .container img {
    display: none;
  }
}
.landing .scroll-down {
  position: absolute;
  bottom: 40px;
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-duration);
}
.landing .scroll-down i {
  animation: bouncing 1.5s infinite;
}
.landing .scroll-down:hover {
  color: var(--main-color-alt);
}
/* Start animation */
@keyframes up-down {
  to {
    transform: translateY(-40px);
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End animation */
/* End landing */

/* Start articles */
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  background-color: #fff;
  overflow: hidden;
  border-radius: 6px;
  transition: var(--main-duration);
}
.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
  width: 100%;
}
.articles .container .box .content {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}
.articles .container .box .content h3 {
  margin-bottom: 10px;
}
.articles .container .box .content p {
  color: var(--text-color);
  line-height: 1.4;
}
.articles .container .box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  align-items: center;
}
.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
  line-height: .8;
}
.articles .container .box:hover .info i {
  animation: arrow-right .6s ease-out infinite alternate;
}
@keyframes arrow-right {
  to {
    transform: translateX(10px);
  }
}
/* End articles */
/* Start gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .box {
  padding: 15px;
  background-color: #fff;
  box-shadow:
   0px 12px 20px 0px rgb(0 0 0 / 13%),
   0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .container .box .image::before {
  content: "";
  width: 0;
  height: 0;
  background-color: rgb(255 255 255 / 20%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
}
.gallery .container .box .image:hover::before{
  animation: flashing .7s;
}
@keyframes flashing {
  0%,40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-duration);
}
/* End gallery */

/* Start features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  border: 2px solid var(--border-color);
}
.features .container .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .box:hover .image::before {
  border-width: 0px 500px 170px 0;
}
.features .container .box .image::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-width: 0 0 170px 500px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  z-index: 2;
  transition: var(--main-duration);
}
.features .container .box .image::after {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.features .container .box .image img {
  max-width: 100%;
}
.features .container .box .text {
  padding: 30px;
  text-align: center;
}
.features .container .box .text h2 {
  width: fit-content;
  font-size: 40px;
  margin: 0 auto 60px;
  position: relative;
}
.features .container .box .text h2::after {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.features .container .box .text p {
  font-size: 20px;
  line-height: 2;
  margin-bottom: 40px;
  color: var(--text-color);
}
.features .container .box .more {
  text-align: center;
}
.features .container .box .more {
  margin-bottom: 40px;
}
.features .container .box .more a {
  font-size: 20px;
  padding: 5px 35px;
  border: 3px solid;
  border-radius: 7px;
  font-weight: bold;
  position: relative;
  transition: var(--main-duration);
}

.features .container .box.quality .image::after {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .box.quality .text h2::after {
  background-color: #f44036;
}
.features .container .box.quality .more a {
  border-color: #f44036;
  color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .container .box.time .image::after {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .box.time .text h2::after {
  background-color: #009688;
}
.features .container .box.time .more a {
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border-color: #009688;
  color: #009688;
}

.features .container .box.passion .image::after {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .box.passion .text h2::after {
  background-color: #03a9f4;
}
.features .container .box.passion .more a {
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border-color: #03a9f4;
  color: #03a9f4;
}

.features .container .box:hover .more a {
  color: #fff;
  background-position: left bottom;
}
/* End features */
/* Start testimanials */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 7px rgb(0 0 0 / 7%);
  padding: 20px;
  position: relative;
}
.testimonials .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -10px;
  top: -50px;
  border-radius: 50%;
  border: 10px solid var(--section-color)
}
.testimonials .box h3 {
  margin-bottom: 10px;
}
.testimonials .box span {
  display: block;
  margin-bottom: 10px;
  color: var(--text-color);
}
.testimonials .box .rate {
  margin-bottom: 10px;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: var(--text-color);
}
/* End testimanials */
/* Start members*/
.members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.members .box {
  position: relative;
}
.members .box::before,
.members .box::after {
  content: '';
  position: absolute;
  height: 100%;
  border-radius: 10px;
  right: 0;
  top: 0;
}
.members .box::before {
  width: calc(100% - 60px);
  background-color: #f3f3f3;
  z-index: -2;
}
.members .box::after {
  width: 0;
  background-color: #e4e4e4;
  z-index: -1;
  transition: var(--main-duration);
}
.members .box:hover::after {
  width: calc(100% - 60px);
}
.members .box .data {
  padding-top: 60px;
  display: flex;
}
.members .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-duration);
}
.members .box:hover .data img {
  filter: grayscale(100%);
}
.members .box .data .social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.members .box .data .social a {
  width: 100%;
  text-align: center;
}
.members .box .data .social i {
  color: var(--text-color);
  transition: color var(--main-duration);
}
.members .box .data .social a:hover i {
  color: var(--main-color);
}
.members .box .info {
  padding-left: 80px;
}
.members .box .info h3 {
  color: var(--main-color);
  font-size: 22px;
  margin: 22px 0 10px;
  transition: var(--main-duration);
}
.members .box:hover .info h3 {
  filter: grayscale(100%);
}
.members .box .info p {
  margin-bottom: 22px;
}
/* End members*/
/* Start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  text-align: center;
}
.services .container .box {
  background-color: #fff;
  counter-increment: cnt;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 0%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  transition: var(--main-duration);
}
.services .container .box::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: var(--main-duration);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box i {
  color: #d5d5d5;
  margin: 30px 0 20px
}
.services .container .box h3 {
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 25px;
}
.services .container .box .details {
  background-color: #f9f9f9;
  padding: 15px;
  position: relative;
}
.services .container .box .details::before {
  content: '0'counter(cnt);
  position: absolute;
  width: 90px;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}
.services .container .box .details::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  top: 0;
  left: 85px;
  transform: skew(-20deg);
}
.services .container .box .details a {
  display: block;
  width: fit-content;
  margin-left: auto;
  color: var(--main-color);
}
/* End services */

/* Start skills */
.skills-section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills-section .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .skills-section img {
    display: none;
  }
}
.skills-section .skills-holder {
  flex: 1;
}
.skills-section .skills-holder .skill {
  margin-bottom: 30px;
}
.skills-section .skills-holder .skill h3 {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.skills-section .skills-holder .skill h3 span {
  display: block;
  font-size: 12px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--main-color);
}
.skills-section .skills-holder .skill .prog {
  width: 100%;
  height: 30px;
  background-color: #eee;
  position: relative;
}
.skills-section .skills-holder .skill .prog span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End skills */

/* Start work */
.work {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}
.work .container {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .work .container {
    flex-direction: column;
  }
}
.work .container .image {
  max-width: 100%;
  height: 100%;
  margin-right: 100px;
}
@media (max-width: 992px) {
  .work .container .image {
    margin: 0 0 60px;
  }
}
.work .work-steps .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.work .work-steps .box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-duration);
}
.work .work-steps .box:hover::before {
  width: 100%;
  height: 100%;
}
@media (max-width: 992px) {
  .work .work-steps .box {
    flex-direction: column;
    text-align: center;
  }
}
.work .work-steps .box img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 992px) {
  .work .work-steps .box img {
    margin: 0 0 20px;
  }
}
.work .work-steps .box .text h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
.work .work-steps .box .text p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color);
}
/* End work */

/* Start events */
.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 450px;
  margin-right: 20px;
}
@media (width <= 991px) {
  .events img {
    display: none;
  }
}
.events .event {
  flex: 1;
  text-align: center;
}
.events .event .time {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 40px;
}
.events .event .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  transition: var(--main-duration);
}
.events .event .time .unit span {
  display: block;
}
.events .event .time .unit span:first-child {
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
  padding: 15px;
}
.events .event .time .unit span:last-child {
  border-top: 1px solid #d4d4d4;
  color: var(--text-color);
  font-size: 14px;
  padding: 5px;
  transition: var(--main-duration);
}
.events .event .time .unit:hover,
.events .event .time .unit:hover span:last-child{
  border-color: var(--main-color);
}
.events .event .info h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.events .event .info p {
  font-size: 19px;
  color: var(--text-color);
  line-height: 2;
}
.events .subscribe {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.events .subscribe form {
  width: 600px;
  background-color: #f6f5f5;
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 30px 40px;
  border-radius: 50px;
}
@media (width <= 767px) {
  .events .subscribe form {
    max-width: 100%;
    flex-direction: column;
    border-radius: 0;
    padding: 20px;
  }
}
.events .subscribe form input[type="email"] {
  flex: 1;
  border: none;
  padding: 20px;
  border-radius: 50px;
  caret-color: var(--main-color);
  transition: var(--main-duration);
}
.events .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
  transition: var(--main-duration);
}
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe form input[type="submit"] {
  padding: 20px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-duration);
}
@media (width <= 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 0;
  }
  .events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End events */

/* Start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .plan {
  background-color: #fff;
  box-shadow: 0px 5px 10px 1px #ccc;
  position: relative;
  z-index: 1;
}
.pricing .plan::before,
.pricing .plan::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--main-duration);
}
.pricing .plan::before {
  top: 0;
  left: 0;
}
.pricing .plan::after {
  bottom: 0;
  right: 0;
}
.pricing .plan:hover::before {
  width: 100%;
}
.pricing .plan:hover::after {
  width: 100%;
}
.pricing .plan .head {
  text-align: center;
}
.pricing .plan .head h3 {
  font-size: 25px;
  margin: 20px 0;
}
.pricing .plan .head img {
  width: 100px;
  margin-bottom: 30px;
}
.pricing .plan .head .price {
  display: flex;
  flex-direction: column;
}
.pricing .plan .head .price span:first-child {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}
.pricing .plan .head .price span:last-child {
  color: #777;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.pricing .plan ul li {
  padding: 20px;
  border-top: 1px solid var(--border-color);
}
.pricing .plan ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
.pricing .plan a {
  display: block;
  width: fit-content;
  margin: 30px auto 40px;
  border: 1px solid var(--main-color);
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  transition: var(--main-duration);
}
.pricing a:hover {
  background-color: var(--main-color);
  color: #fff;
}
.pricing .plan.advanced .marker {
  position: absolute;
  top: 0;
  right: 20px;
  writing-mode: vertical-lr;
  background-color: var(--main-color);
  padding: 10px 10px 35px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  width: 40px;
}
.pricing .plan.advanced .marker::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: transparent transparent #fff;
}
@media (min-width: 1200px) {
  .pricing .plan.advanced {
    top: -30px;
  }
}
/* End pricing */

/* Start videos */
.videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.videos .holder {
  display: flex;
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .play-list {
  min-width: 300px;
  background-color: #fff;
}
.videos .play-list h3 {
  font-size: initial;
  padding: 20px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-between;
}
.videos .play-list ul li {
  padding: 20px;
  border-top: 1px solid var(--border-color);
  transition: var(--main-duration);
}
.videos .play-list ul li:hover {
  cursor: pointer;
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .play-list ul li span {
  display: block;
  margin-top: 10px;
  color: var(--text-color);
}
.videos .preview {
  padding: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.videos .preview img {
  max-width: 100%;
}
.videos .preview p {
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
}
/* End videos */

/* Start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #000;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.stats::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .state {
  padding: 30px 15px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.stats .state::before,.stats .state::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .state::before {
  bottom: 0;
  left: 0;
}
.stats .state::after {
  top: 0;
  right: 0;
}
.stats .state:hover::before {
  height: 100%;
}
.stats .state:hover::after {
  height: 100%;
}
.stats .state span{
  display: block;
}
.stats .state .number {
  margin: 15px 0;
  font-size: 45px;
  font-weight: bold;
}
.stats .state .text {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: var(--main-color);
}
/* End stats */

/* Start discount */
.discount {
  display: flex;
  min-height: 100vh;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}
.discount .text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-alt);
  flex-basis: 50%;
  text-align: center;
  color: #fff;
}
.discount .text h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 30px 0;
}
.discount .text p {
  max-width: 500px;
  line-height: 2;
  margin-bottom: 30px;
}
.discount .text img {
  max-width: 300px;
}
.discount .request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  text-align: center;
  padding-bottom: 50px;
}
.discount .content {
  padding: 0 20px;
}
.discount .request h2 {
  font-size: 40px;
  letter-spacing: -3px;
  margin: 30px 0;
}
.discount .request form .input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
.discount .request form .input:focus {
  outline: none;
  caret-color: var(--main-color);
}
.discount .request form textarea.input {
  resize: none;
  min-height: 200px;
}
.discount .request form input[type="submit"] {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-duration);
}
.discount .request form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End discount */

/* Start footer */
.footer {
  background-color: #191919;
  padding-top: 70px;
  color: #b9b9b9;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .box h3 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  display: block;
  background-color: #313131;
  color: #b9b9b9;
  font-size: 20px;
  padding: 15px;
  transition: var(--main-duration);
}
.footer .box .social li.facebook:hover a {
  background-color: #1877f2;
}
.footer .box .social li.twitter:hover a {
  background-color: #1da1f2;
}
.footer .box .social li.youtube:hover a {
  background-color: #f00;
}
.footer .box p.text {
  margin-top: 10px;
  line-height: 2;
}

.footer .box .links li {
  padding: 15px;
  transition: var(--main-duration);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover a {
  display: block;
  padding-left: 10px;
  color: #fff;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-duration);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: '\f101';
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer .box .line i {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
  .footer .box .line i {
    margin: 0 0 20px;
  }
}
.footer .box .line p {
  line-height: 1.6;
}
.footer .box .line span {
  display: block;
  margin-bottom: 7px;
}
.footer .box:last-child img {
  width: 75px;
  margin: 3px;
  border: 4px solid #fff;
}
.footer .copyright {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-top: 1px solid #444;
}
/* End footer */
